name: QA Framework CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t qa-framework .

      - name: Run tests inside Docker
        run: |
          docker run --rm 
          -e BASE_URL=https://www.saucedemo.com \
          -e HEADLESS=true \
          -e PW_WORKERS=2 \
          -e PW_RETRIES=1 \
          -e TEST_USERNAME=${{ secrets.TEST_USERNAME }} \
          -e TEST_PASSWORD=${{ secrets.TEST_PASSWORD }} \
          qa-framework
      
      - name: Upload Playwright HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/